body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white ;
}

.videotext {    
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.overskrift {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background: #009578;
    border-radius: 10px;
    display: flex;
}

.imgbx {
    width: 150px;
    flex: 0 0 300px;
}

.imgbx img{
    max-width: 75% ;
}

.content {
    padding-right: 1px;
}

.mugshot {
    padding-right: 10px;
}

.videobox {
    text-align: center;
}