.programmer {
    background-color:#1D5C63;
    font-size: 20px;
    outline: 0;
    border: none;
    height: 35px;
    }


.programmer a {
    color: #EDE6DB;
    text-decoration: none;
}

.Flex {
    background-color: #1D5C63;
    height: 40px;
}

.programmer:hover {
    color: #EDE6DB;
}

.programmer:active {
    color: #F1F0C0;
}

.footer{
    background-color: #24262b;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: sticky;
    top: 160%;
}

body {
    min-height: 160vh;
}

.footeroverskrift {
    color: white;
    padding-left: 40%;
}

.infofooter {
    color: gray;
    padding-left: 40%; 
}

.navnfooter {
    color: white;
}



.lydfil {
    display: flex;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-sizing: border-box;
    background: gray;
    border-radius: 10px;   
}

.lydfil2 {
    display:flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-sizing: border-box;
    background: gray;
    border-radius: 10px;  
}


@keyframes runner {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
/* The element to apply the animation to */
.runnergif{
    animation-name: runner;
    background-color: red;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
  }